.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.carousel img {
    height: 60vh;
    object-fit: cover;
}

.carousel img:hover {
    cursor: pointer;
}

.buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 98%; // Not necessary, you can remove this
    flex-direction: row;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    height: 100%; // Not necessary, you can remove this
    width: 20%; // Not necessary, you can remove this
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-left: -9%; // Not necessary, you can remove this
    margin-right: -9%; // Not necessary, you can remove this
}

button:hover {
    background-color: rgba(158, 158, 158, 0.8);
    border-radius: 0;
}

.prev-btn,
.next-btn {
    position: absolute;
    background-color: transparent;
    color: white;
}

.prev-btn {
    left: 0;
    transform: translateY(-50%);
}

.next-btn {
    right: 0;
    transform: translateY(-50%);
}

.rowImg {
    position: relative;
    display: flex;
    align-items: center;
}

.preview {
    width: 10%;
    opacity: 0.5;
}

.quote-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.quote,
.author {
    margin: 0;
}