@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

.footer {
  top: calc(100vh - 100px);
  background: #fff;
  width: 100vw;
  padding-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  .footer-list,
  .creator {
    display: flex;
    align-items: center;
    gap: 0.6em;
  }

  .social {
    color: rgb(220, 12, 140);
  }
  .social:visited {
    color: rgb(254, 111, 199);
  }

  .social:hover {
    color: black;
  }

  .footer-list {
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 150px;
    padding: 0;
    list-style-type: none;
    // from where is the padding coming from?!!!
  }

  .creator {
    border-radius: 7px;
    padding: 0.6em;
    background-color: rgb(236, 202, 250, .5);
    justify-content: center;
    width: 20%;
    min-width: 270px;
  }

  .logo {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    font-family: "Passion One", cursive;
  }
}
