@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

.header {
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin-top: 5rem;
  border-radius: 15px;

  .desc {
    color: rgb(26, 26, 26);
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
  }

  h2 {
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
    color: black;
  }
}
