@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
.navBar {
    display: flex;
    background: #ffffff;
    color: black;
    padding: 0 5%;
}

.logo,
.accent {
    font-size: 30px;
    align-self: center;
    margin-right: auto;
    padding-left: 5px;
    color: #000000;
    font-family: "Passion One", cursive;
}

.accent {
    background: linear-gradient(to right, #f1cc11 0%, #a810c6 60%, #3c16ba 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    gap: 10px;
}

.navItem {
    width: 40px;
    margin: 5px;
}