@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
.navBar {
    display: flex;
    background: #ffffff;
    color: black;
    padding: 0 5%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo,
.accent {
    font-size: 30px;
    align-self: center;
    padding-left: 5px;
    color: #000000;
    font-family: "Passion One", cursive;
    flex: 0 0 80%;
}

.accent {
    background: linear-gradient(to right, #f1cc11 0%, #a810c6 60%, #3c16ba 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 0;
    padding: 0;
    gap: 10px;
    flex: 1;
    justify-content: flex-end;
}

.navItem {
    width: auto;
    margin: 5px;
    align-self: center;
}

.navItem a {
    color: black;
    text-decoration: none;
}