// .dark {
//   $dark-main-bg: #232323;
//   $dark-footer-icons-bg: #565656;
//   $dark-text-color: #fefefe;
//   $dark-btn-bg: blueviolet;
//   $dark-btn-color: white;
// }

// .white {
//   $main-bg: #fefefe;
//   $footer-icons-bg: blue;
//   $text-color: #000;
//   $btn-bg: blueviolet;
//   $btn-color: white;
// }

.white {
  --bg: #757575;
  --btn-bg: rgb(31, 0, 59);
}

.dark {
  --bg: #232323;
  --btn-bg: rgb(170, 80, 255);
}
